
@{
    ViewBag.Title = "About";
}

<h2>About</h2>

<div>
    <p>
        Contact Us- Buy Low sell High -Make More Money
    </p>
    <p>
        Location

        www.mckinneyrealtyinvestments.com

        McKinney Realty Investments, Roy McKinney, Licensed Real Estater Broker

        1809 Brickell Avenue, Suite 505, Miami, Florida 33129

        Phone: 305-677-9255
    </p>
</div>

<div class="grid">
    <div class="row">
        <img src="~/Images/About/GroveHill3.jpg" class="img-rounded" width="600" height="400" alt="..." />
    </div>
    <div class="row">
        <img src="~/Images/About/MRI-web-site-About-Us.0416-1024x968.jpg" class="img-rounded" width="600" height="400" alt="..." />
    </div>
    <div class="row">
        <img src="~/Images/About/Chandrell2-1024x768.jpg" class="img-rounded" width="600" height="400" alt="..." />
    </div>
</div>
    
    
  
   
    
    

