
@{
    ViewBag.Title = "Bio";
}

<h2>Bio</h2>

<div class="grid">
    <div class="row">
        <img src="~/Images/Bio/BIO.jpg" class="img-rounded" width="600" height="400" alt="..." />
    </div>
    <div class="row">
        <img src="~/Images/Bio/Web-Bio-References-1024x791.jpg" class="img-rounded" width="600" height="400" alt="..." />
    </div>
</div>
    
    
    

