
@{
    ViewBag.Title = "MRI";
}

<h2>MRI</h2>
<div class="grid">
    <div class="row">
        <img src="~/Images/MRI/2010.11.18-022-e1459968107918.jpg" class="img-rounded" width="600" height="400" alt="..." />
    </div>
    <div class="row">
        <img src="~/Images/MRI/MRI.Web_.pg_.1B-1024x663.jpg" class="img-rounded" width="600" height="400" alt="..." />
    </div>
</div>

   


    
    


